.section-destination-post {
    @include default-section;
    min-height: 100vh;
    width: 70rem;
    margin: 0 auto;

    & > *:not(:last-child, .delete-warning) {
        border-bottom: 1px $color-grey-light-4 solid;
    }

    & > *:not(.delete-container) {
        margin-top: 2rem;
        padding-bottom: 1.5rem;
        height: fit-content;
    }

    & > *:last-child {
        margin-bottom: 2rem
    }

    .post {
        &__content {
            & * {
                max-width: 100%;
            }
        }
        &__edit-group-btn {
            display: flex;
            justify-content: flex-end;

            &>*:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}