.photo-upload {
    position: relative;
    width: 100%;
    height: 15rem;

    &__btn {
        @include default-btn(2.8rem, 8px, $color-white, $color-primary, none, center);
        display: inline-block;
        width: 70%;
        position: absolute;
        z-index: 3;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .9;

        &:focus {
            outline: none;
            border: none;
        }
    }

    &__photo {
        display: inline-block;
        position: absolute;
        border-radius: 8px;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}