//COLORS

$color-primary: #4a4a4a;

$color-grey-light-1: #787878;
$color-grey-light-2: #d0cfcf;
$color-grey-light-3: #edebeb;
$color-grey-light-4: #f3f1f1;

$color-yellow-dark: #ac9b6d;
$color-yellow: #f1f525;
$color-yellow-light: #feffe2;

$color-red-dark: #9d5856;
$color-red: #dd1a1a;
$color-red-light: #FFE9E9;

$color-green: #528452;
$color-green-light: #F0FEE1;

$color-white: #fff;
$color-background: #fbfafa;

$color-black: #000000;

$color-border-primary: #d0cfcf;
$color-border-light: #e2eded;

//FONT
$default-font-size: 1.4rem;

//GUTTER
$gutter-vertical: 3rem;
$gutter-vertical-medium: 1.5rem;
$gutter-vertical-small: .4rem;

$gutter-horizontal-medium: 1.5rem;
